$square: 25px;

.about-wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: $square;
    height: $square;
    background: $orange;
  }

  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: $square;
    height: $square;
    margin-bottom: $square;
    margin-right: $square;
    background: $orange;
  }
}

.about-logo-grid {
  @include flex-centered;
  flex-direction: column;
  width: 100%;
  margin-bottom: rem-calc(60);
  gap: rem-calc(30);

  @include md {
    flex-direction: row;
  }
}

.about-logo-wrapper {
  @include flex-centered;
  text-align: right;
}

.about-slogan-wrapper {
  @include flex-centered;
  max-width: rem-calc(390);

  font-size: rem-calc(16);

  @include md {
    font-size: rem-calc(20);
    border-left: 2px solid $orange;
    padding: rem-calc(30);
  }
}

.about-slogan {
  font-weight: bold;
  margin: 0;
  text-align: center;

  @include md {
    text-align: left;
  }
}

.about-content {
  @include flex-centered;
  color: $black;
  width: 100%;
  max-width: rem-calc(840);

  padding: rem-calc(140) $global-padding;

  .about-text {
    font-weight: 300;
    font-size: em-calc(20);
    margin-bottom: rem-calc(24);
    line-height: 160%;

    b {
      span {
        color: $orange;
      }
    }
  }

  .about-text-footer {
    max-width: rem-calc(480);
    margin-top: rem-calc(40);
    text-align: center;
    font-weight: bold;
    font-size: rem-calc(20);
  }

  a {
    margin-top: rem-calc(60);
  }
}
