$square: 25px;

.contact-us-wrapper {
  position: relative;
  @include flex-centered;
  background: $orange;

  padding: rem-calc(80) 0;

  h2 {
    color: white;
    text-align: center;

    span {
      color: $black;
    }
  }

  p {
    font-size: rem-calc(18);
    text-align: center;
    line-height: 150%;
    color: white;
  }

  div {
    @include flex-centered;
  }

  a {
    margin-top: rem-calc(60);
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: $square;
    height: $square;
    background: white;
  }

  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: $square;
    height: $square;
    margin-bottom: $square;
    margin-right: $square;
    background: white;
  }
}
