.testimonials-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  padding: rem-calc(80) 0;

  h2 {
    color: white;
    text-align: center;

    span {
      color: $orange;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: $square;
    height: $square;
    background: white;
  }

  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: $square;
    height: $square;
    margin-bottom: $square;
    margin-right: $square;
    background: white;
  }

  a {
    margin: rem-calc(40) auto;
  }
}

.testimonials-grid {
  display: grid;

  @include md {
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  }
}
