@import "@/styles/modules/root";

.accordion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: rem-calc(80) $global-padding;
  width: 100%;
  max-width: rem-calc(900);
  margin: 0 auto;

  h2 {
    align-self: flex-start;
    color: $black;

    span {
      color: $orange;
    }
  }
}
