.home-wrapper {
  @include flex-centered;

  padding-top: rem-calc(80);
}

.home-navigation {
  width: 100%;
  display: flex;

  margin-bottom: rem-calc(24);

  a {
    color: white;
    font-weight: bold;
    margin-bottom: rem-calc(12);
  }
}
